<body style="background-color: #ADD8E6;">
  <div class="container dashboard">
    <div class="row justify-content-center background rounded">


      <div class="account-info col-md-2 col">
        <br>
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <br>
        <p><strong>Email:</strong> <%= @user.email %></p>
        <br>
        <% if @user.is_admin? %>
          <p><strong>Role:</strong> Admin</p>
        <% else %>
          <p><strong>Role:</strong> Default User</p>
        <% end %>
        <br>
        <%= link_to 'Edit Info', edit_user_path(@user), class: 'btn btn-primary' %>
        <br><br>
        <%= link_to 'Delete Account', user_path(@user),  data: { "turbo-method": :delete }, class: 'btn btn-danger' %>

      </div>


      <div class="account-info col-md-4 col">
        <h2 class="mt-5">Hosted Events</h2>      
        <% if @hostedEvents.any? %>
          <% @hostedEvents.each do |event| %>
          <div class="event">
            <h3><%= event.event_name %></h3>
            <p><%= event.event_description %></p>
            <p><%= event.event_date_and_time %></p>
          </div>
        <% end %>
        <% else %>
          <p>No hosted events.</p>
        <% end %>    
      </div>



      <div class="account-info col-md-4 col">
        <h2 class="mt-5">Events Signed Up</h2>      
        <% if @registered_events.any? %>
          <% @registered_events.each do |event| %>
          <div class="event">
            <h3><%= event.event_name %></h3>
            <p><%= event.event_description %></p>
            <p><%= event.event_date_and_time %></p>
          </div>
        <% end %>
        <% else %>
          <p>You haven't signed up to any events.</p>
        <% end %>  
      </div>
    </div>
  </div>
</body>