<!DOCTYPE html>
<html>
  <head>
    <title>UniVents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turbo", type: 'module' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="uni-body">
    <%= render 'layouts/navbar' %>
    <br><br>
    <div class="container-fluid">
      <br><br>
      <% if notice %>
        <div class="alert alert-success alert-dismissible alert-center fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible alert-center fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <%= alert %>
        </div>
      <% end %>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>

